{% extends 'layout.html' %}

{% block title %}Mis Cursos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Mis Cursos</h1>
    
    {% if cursos %}
        <div class="row">
            {% for curso in cursos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ curso.imagen.url }}" class="card-img-top" alt="{{ curso.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ curso.nombre }}</h5>
                            <p class="card-text">{{ curso.Descripcion|truncatewords:15 }}</p>
                            <p><strong>Profesor:</strong> {{ curso.Profesor }}</p>
                            <a href="{% url 'detalle_curso' curso.id %}" class="btn btn-primary">Ver más detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No estás inscrito en ningún curso actualmente.</p>
    {% endif %}
</div>
{% endblock %}
