{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid  "   >
        <div class="row reflexion justify-content-center align-items-center  " style="padding-top:20px;">   
            <div class="col-8  " style="padding-top:40px; padding-bottom: 40px;">
                <div>
                    <center>
                        <h1 style="color:red;">MUCHAS GRACIAS!<i class="fas fa-star"></i></h1>
                        <p>En breve<b>se van a contactar con vos</b> para coordinar!</p>
                        <p>Mientras tanto te invitamos a ver todos nuestros productos en la <b style="color:red;">tienda minorista</b></p>
     
                    </center>    
                </div>
            </div>  
         </div>
     </div>
</body>
</html>