{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje enviado</title>
    <link rel="stylesheet" href="{% static 'contacto/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid contact-page">
        <div class="row reflexion justify-content-center align-items-center" style="padding-top:20px;">   
            <div class="col-8" style="padding-top:40px; padding-bottom: 40px;">
                <div class="contacto_form">
                    <h1 class="h1juan">MUCHAS GRACIAS!</h1>
                    <p>En breve se van a contactar con vos para coordinar!</p>
                    <p>Mientras tanto te invitamos a que te registres en nuestra escuela y formes parte de nuestra gran familia</p>
                    <a href="{% url 'index' %}" class="btn">Volver al Inicio</a>
                </div>
            </div>  
        </div>
    </div>
</body>
</html>
