{% extends 'layout.html' %}
{% block content %}
<h2>Carrito de Compras</h2>
<table>
    <tr>
        <th>Curso</th>
        <th>Fecha</th>
        <th>Acción</th>
    </tr>
    {% for ticket in tickets_pendientes %}
    <tr>
        <td>{{ ticket.curso.nombre }}</td>
        <td>{{ ticket.fecha_compra }}</td>
        <td>
            <a href="{% url 'ticket' ticket.id %}" class="btn btn-primary">Ver pago del cursos</a>
            <button class="btn btn-danger eliminar-ticket" data-ticket-id="{{ ticket.id }}">Eliminar Ticket</button>
        </td>
    </tr>
    {% endfor %}
</table>

<script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".eliminar-ticket").forEach(button => {
        button.addEventListener("click", function() {
            const ticketId = this.getAttribute("data-ticket-id");
            fetch(`/usuarios/carrito/eliminar-ticket/${ticketId}/`, {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message);
                    location.reload();
                } else {
                    alert("Error: " + data.message);
                }
            });
        });
    });
});
</script>

{% endblock %}



<style>
    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        text-align: center;
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
        margin: 0;
    }
</style>