{% extends 'layout.html' %}
{% block title %}CURSOS MARCIALES - MI Carrito{% endblock %}

{% block content %}
<div class="container-center">
    <h1>EN CONSTRUCCIÓN</h1>
</div>

<style>
    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh; /* Ajusta al tamaño del viewport */
        text-align: center;
        font-family: Arial, sans-serif; /* Cambia según tu preferencia */
        background-color: #f7f7f7; /* Fondo claro para resaltar el mensaje */
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333; /* Color oscuro para destacar */
        margin: 0;
    }
</style>
{% endblock %}