{% extends 'layout.html' %}
{% block title %}CURSOS MARCIALES - MI PERFIL{% endblock %}

{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h2>Mi Perfil</h2>
        </div>
        <div class="card-body">
            <!-- Foto grande -->
            <img src="{{ user.imagen.url }}" class="rounded mx-auto d-block mb-4" style="max-width: 200px; height: auto;" alt="Imagen de perfil">

            <!-- Información -->
            <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
            <p class="card-text">
                <strong>Username:</strong> {{ user.username }}<br>
                <strong>Email:</strong> {{ user.email }}<br>
                <strong>Fecha de nacimiento:</strong> {{ user.fecha_nacimiento }}<br>
                <strong>Ciudad:</strong> {{ user.ciudad }}<br>
                <strong>Domicilio:</strong> {{ user.domicilio }}<br>
                <strong>Teléfono:</strong> {{ user.telefono }}<br>
                <strong>Biografía:</strong> {{ perfil.bio }}
            </p>
        </div>
        <div class="card-footer">
            <!-- Botón para editar perfil -->
            <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Modificar Perfil</a>
        </div>
    </div>
</div>
{% endblock %}

