/* css del layout */
html, body {
    height: 100%;
    margin: 0; 
}

.nav-item.dropdown .dropdown-menu {
    z-index: 1050; /* Asegura que el dropdown se muestre por encima de otros elementos */
}

.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    flex-shrink: 0;  /* Previene que la barra de navegación se reduzca */
}

.content {
    flex-grow: 1;
}
/* Estilos para el footer */
footer {
    background-color: #333;  /* Gris oscuro */
    color: #fff;  /* Texto blanco */
    text-align: center;
    padding: 20px 0;  /* Ajuste del padding */
    position: relative;
    bottom: 0;
    width: 100%;
}
